/*-- scss:defaults --*/

// Colors

$petrol: #09525ac6;
$yellow: #d69215ba;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #bf589d;
$orange: #ad7237;




$navbar-bg: $petrol;
$navbar-fg: $cream;
$body-bg: $cream;


$font-family-serif: 'Arial', serif;
$font-family-sans-serif: 'Arial', sans-serif;
$font-family-monospace: 'Arial', monospace;

h1, h2 {
  letter-spacing: 3px;
  font-weight: 800; 
}

.title {
    color: maroon;
}

.center-text {
    text-align: center;
}